@import '~bootstrap/scss/bootstrap';

$border-color: $green;
$font-color: $light;
$index-color: $white;
$border-color: #000;

body {
  background-color: $green;

  }

.alt-color {
  background-color: $green;
}

.box1 {
  background-color: $index-color;
  border: 10px solid $border-color;
  display: flex;
  height: 150px;
}

.box2 {

  background-color: $green;
  border: 1px solid $green;
  color: $font-color;
  display: flex;
  // height: 100vh;
  justify-content: center;
}


.box4 {
  background-color: $green;
  border: 1px solid $border-color;
  color: $font-color;

  display: flex;
  height: 400px;
}

.box5 {
  align-items: center;
  background-color: $green;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 100px;


  justify-content: center;
}

.box6 {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  justify-content: center;
}

// .start-game {
//   justify-content: center;
// }

.board-grid {
  align-items: center;
  background: $green;
  background-color: $secondary;
  // border: 10px solid  /$border-color;
  //border-radius: 50px;
  color: $red;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%vh;
}

.board-cells {
  background: $green;
  cursor: pointer;
  height: 160px;
  width: 160px;
}

h1 {
  text-align: center;
}

.on-start {
  justify-content: center;


}

.spot-image {
  height: inherit;
}
